body {
  font-family: 'Times New Roman', Times, serif;
  


}


nav{
    color: hotpink;
  text-align: center
}

ul{
    color:lightcoral
    
}


cite{
    color: lightslategray;
}

p1{
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: indianred;


}